.header {
  background-image: url(/images/1.jpg);
  padding: 12.5rem 4rem;
}

.content {
  margin: 10px;
  padding: 20px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.connect {
  width: 230px;
  text-align: center;
  margin: auto;
}

p {
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}